.modal-header {
    background-color: cornflowerblue;
    color: white;
}

.form-feild {
    display: flex;
    flex-direction: column;
}

button {
    border: 1px solid grey;
    border-radius: 5px;
}